/* ===@input===*
@input url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
*/
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500&display=swap');
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
th,
td {
	text-align: left;
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6,
th,
td,
caption {
	font-weight: normal;
}
img {
	border: 0;
	vertical-align: top;
}
body {
	height: 100%;
	line-height: 1;
	font-size: 16px;
	color: #000000;
	font-family: 'Oswald', sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}
a {
	text-decoration: none;
	cursor: pointer;
	color:inherit;
	font-family: inherit;
}
ul,
ol,
li {
	list-style: none;
}

/* ===burger-menu===
.burger-menu {
	display: none;
	width: 20px;
	height: 14px;
	cursor: pointer;
	position: absolute;
	right: 40px;
	z-index: 100;
}
.burger-menu span {
	background: #fff;
	height: 2px;
	position: absolute;
	width: 100%;
	left: 0;
	transition: all 0.3s ease;
}
.burger-menu span:first-child {
	top: 0;
}
.burger-menu span:nth-child(2) {
	top: 6px;
}
.burger-menu span:last-child {
	top: 12px;
}
.burger-menu-close span:first-child {
	transform: rotate(45deg);
	top: 6px;
}
.burger-menu-close span:nth-child(2) {
	opacity: 0;
}
.burger-menu-close span:last-child {
	transform: rotate(-45deg);
	top: 6px;
}
.menu.menu-show{
	top: 0px;
}
body.no-scroll{
	overflow: hidden;
}
@media screen and (max-width: 440px){
	.burger-menu{
	  display: block;
	}
	.nav{
	  height: 80px;
	}
	.menu{
	  position: fixed;
	  top: -100vh;
	  padding-top: 100px;
	  z-index: 100;
	  flex-direction: column;
	  height: 100vh;
	  width: 100%;
	  background: #2196f3;
	  transition: top 0.7s;
	}
 
}
*/

/*===media query===
@media screen and (
}
*/

/*===card-flip===
.front{
	opacity: 1;
	transform: rotateY(0deg);
	transition: all 300ms linear;
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.back{
	position: absolute;
	font-size: 24px;
	line-height: 32px;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	opacity: 0;
	background-color: #FFFFFF;
	transform: rotateY(-180deg);
	transition: all 300ms linear;
	border-radius: 6px;
}
.card:hover .front{
	opacity: 0;
	transform: rotateY(180deg);
}
.card:hover .back{
	opacity: 1;
	transform: rotateY(0deg);
}
*/

/*===dropdown menu===
.angle{
	position: absolute;
	top: 28px;
	left: 85px;
	z-index: 1000;
   visibility: hidden;
   opacity: 0;
	transition: opacity 500ms;
	transition: scale 500ms;
}
.submenu{
	position: absolute;
	display: flex;
	top: 62px;
	left: -94px;
	border:0;
	border-bottom-right-radius: 50px;
	border-bottom-left-radius: 50px;
	background-color: #FFFFFF;
	box-shadow: 0px 1px 11px 0px rgba(0, 0, 0, 0.1);
	padding-bottom: 19px;
	z-index: 1000;
   visibility: hidden;
   opacity: 0;
	transform-origin: 0 0;
	transform: rotateX(-90deg);
	transition-property: visibility, opacity, transform;
   transition-duration: 500ms;
   transition-timing-function: linear; 
}
.submenu .list:first-child{
	padding-left:32px;
}
.submenu .list:last-child {
	padding-right:32px;
}
*/

@media screen and (max-width: 811px){
	.blog-cards{
		flex-direction: column;
		align-items: center;
	}
	.content{
		flex-direction: column;
	}
	.text{
		padding-right: 0;
		width: 573px;	
	}
}
@media screen and (max-width: 1130px) {
	.blog-cards{
		flex-direction: column;
		align-items: center;
	}
}

a:active{
	color:inherit;
}
body{
	background-image: url("../IMG/welcome.jpg");
	background-repeat: no-repeat;
	background-position: top;
	background-size: 1440px;
	margin: 0 auto;
	scroll-behavior: smooth;
}
.container{
	max-width: 1250px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 0 auto;
}
.header-container{
	display: flex;
	justify-content: space-between;
	height: 110px;
	align-items: center;
}
.hdr{
	background-color: #FFFFFF;
	
}
.logo{
	font-weight: 500;
	font-size: 36px;
	line-height: 147.22%;
	color: #5E8D7C;
	padding-left: 8px;
	
}
.menu__ul{
	display: flex;
}
.menu__li{
	padding-left: 38px;
}
.menu__link{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 24px;
	line-height: 150%;
	color: #000000;
}
.menu__li:first-child{
	padding-left: 0;
}
main{
	background-color: #FFFFFF;
}

.welcome{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 64px;
	line-height: 148.44%;
	padding-top: 292px;
	padding-left: 9px;
	color: #81502C;
}
.about{
	margin-top: 235px;
	padding-bottom: 53px;
}
.header-h2{
	text-transform: uppercase;
	font-weight: 500;
	font-size: 36px;
	line-height: 147.22%;	
	padding-top: 60px;
	text-align: center;
}
.content{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 53px;
	gap: 10px;
}
.image{
	max-width: 573px;
	max-height: 413px;
	object-fit: cover;
}
.text{
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
	max-width: 597px;
	padding-right: 6px;
}
.blog-cards{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	padding-top: 59px;
	padding-bottom: 65px;
	gap: 10px;
}
.blog-card{
	display: flex;
	flex-direction: column;
	width: 365px;
	height:474px;
	background-color: #FFFFFF;
	transition: 300ms;
}
.blog-card:hover{
	scale: 1.05;
	box-shadow: 0px 5px 5px 2px #7a7979;
}
.header-h3{
	font-weight: 400;
	font-size: 24px;
	line-height: 150%;
	text-align: left;
	padding-left: 20px;
	padding-top: 20px;

}
.card-image{
	padding-left: 22px;
	margin-top: 21px;
	padding-right: 20px;
	height: 214px;
	width: 323px;
}
.card-img{
	width: 323px;;
	height: 214px;
}
.card-content{
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 29px;
	margin-bottom: 46px;
	overflow: hidden;
	white-space: normal;
}
.card-text{
	font-weight: 300;
	font-size: 18px;
	line-height: 150%;
	text-align: left;	
}
.works{
	padding-bottom: 53px;
}
.ftr{
	height: 72px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
}
.ftr__content{
	text-transform: uppercase;
	font-weight: 300;
	font-size: 20px;
	line-height: 150%;
}
.container-gray{
	background-color: #EFEFEF;
}
._gap{
	gap: 10px;
}